@import url("https://fonts.googleapis.com/css2?family=Oswald&family=PT+Sans&family=Poppins:wght@100;300;400;500;600;800;900&family=Shippori+Antique+B1&display=swap");
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
p{
  font-size: 0.9em;
  color: #222222;
  text-indent: initial;
}
